contrib/ews/samples/mapper/frenchzip/FrenchZip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="IODCODESPOSTAUXservice"
             targetNamespace="http://tempuri.org/"
             xmlns:tns="http://tempuri.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <message name="GetDepartmentForCode0Request">
    <part name="DepCode" type="xs:string"/>
  </message>
  <message name="GetDepartmentForCode0Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetDepartmentAdminCenterForCode1Request">
    <part name="DepCode" type="xs:string"/>
  </message>
  <message name="GetDepartmentAdminCenterForCode1Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetDepartmentList2Request">
    <part name="Separator" type="xs:string"/>
  </message>
  <message name="GetDepartmentList2Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetTownForZip3Request">
    <part name="ZipCode" type="xs:string"/>
    <part name="Separator" type="xs:string"/>
  </message>
  <message name="GetTownForZip3Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetZipForTown4Request">
    <part name="Town" type="xs:string"/>
    <part name="Separator" type="xs:string"/>
    <part name="ExactMatch" type="xs:boolean"/>
  </message>
  <message name="GetZipForTown4Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetTownsForSoundex5Request">
    <part name="SearchFor" type="xs:string"/>
    <part name="Separator" type="xs:string"/>
  </message>
  <message name="GetTownsForSoundex5Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ReportErrorInFile6Request">
    <part name="YourName" type="xs:string"/>
    <part name="YourMail" type="xs:string"/>
    <part name="YourMessage" type="xs:string"/>
  </message>
  <message name="ReportErrorInFile6Response"/>
  <portType name="IODCODESPOSTAUX">
    <operation name="GetDepartmentForCode">
      <input message="tns:GetDepartmentForCode0Request"/>
      <output message="tns:GetDepartmentForCode0Response"/>
    </operation>
    <operation name="GetDepartmentAdminCenterForCode">
      <input message="tns:GetDepartmentAdminCenterForCode1Request"/>
      <output message="tns:GetDepartmentAdminCenterForCode1Response"/>
    </operation>
    <operation name="GetDepartmentList">
      <input message="tns:GetDepartmentList2Request"/>
      <output message="tns:GetDepartmentList2Response"/>
    </operation>
    <operation name="GetTownForZip">
      <input message="tns:GetTownForZip3Request"/>
      <output message="tns:GetTownForZip3Response"/>
    </operation>
    <operation name="GetZipForTown">
      <input message="tns:GetZipForTown4Request"/>
      <output message="tns:GetZipForTown4Response"/>
    </operation>
    <operation name="GetTownsForSoundex">
      <input message="tns:GetTownsForSoundex5Request"/>
      <output message="tns:GetTownsForSoundex5Response"/>
    </operation>
    <operation name="ReportErrorInFile">
      <input message="tns:ReportErrorInFile6Request"/>
      <output message="tns:ReportErrorInFile6Response"/>
    </operation>
  </portType>
  <binding name="IODCODESPOSTAUXbinding" type="tns:IODCODESPOSTAUX">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetDepartmentForCode">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetDepartmentForCode" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="GetDepartmentAdminCenterForCode">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetDepartmentAdminCenterForCode" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="GetDepartmentList">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetDepartmentList" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="GetTownForZip">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetTownForZip" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="GetZipForTown">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetZipForTown" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="GetTownsForSoundex">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#GetTownsForSoundex" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
    <operation name="ReportErrorInFile">
      <soap:operation soapAction="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX#ReportErrorInFile" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ODCODESPOSTAUXIntf-IODCODESPOSTAUX"/>
      </output>
    </operation>
  </binding>
  <service name="IODCODESPOSTAUXservice">
    <port name="IODCODESPOSTAUXPort" binding="tns:IODCODESPOSTAUXbinding">
      <soap:address location="http://www.e-naxos.com/scripts/enwscp.dll/soap/IODCODESPOSTAUX"/>
    </port>
  </service>
</definitions>

