contrib/axismora/samples/usgeTests/typeTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://usageTests/types" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://usageTests/types" xmlns:intf="http://usageTests/types" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://usageTests/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_short">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:short[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_double">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_float">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:float[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_long">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="BasicStruct">
    <sequence>
     <element name="valA1" nillable="true" type="xsd:string"/>
     <element name="valA2" type="xsd:int"/>
     <element name="valA3" type="xsd:long"/>
     <element name="valA4" nillable="true" type="xsd:string"/>
     <element name="valA5" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfBasicStruct">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:BasicStruct[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SOAPStruct">
    <sequence>
     <element name="val1" nillable="true" type="xsd:string"/>
     <element name="val10" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="val11" nillable="true" type="impl:ArrayOf_xsd_int"/>
     <element name="val12" nillable="true" type="impl:ArrayOf_xsd_short"/>
     <element name="val13" nillable="true" type="impl:ArrayOf_xsd_double"/>
     <element name="val14" nillable="true" type="impl:ArrayOf_xsd_float"/>
     <element name="val15" nillable="true" type="impl:ArrayOf_xsd_long"/>
     <element name="val17" type="xsd:base64Binary"/>
     <element name="val18" nillable="true" type="impl:ArrayOf_xsd_boolean"/>
     <element name="val19" nillable="true" type="impl:BasicStruct"/>
     <element name="val2" type="xsd:int"/>
     <element name="val20" nillable="true" type="impl:ArrayOfBasicStruct"/>
     <element name="val21" nillable="true" type="impl:BasicStruct"/>
     <element name="val3" type="xsd:short"/>
     <element name="val4" type="xsd:double"/>
     <element name="val5" type="xsd:float"/>
     <element name="val6" type="xsd:long"/>
     <element name="val8" type="xsd:byte"/>
     <element name="val9" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSOAPStruct">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SOAPStruct[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoShortResponse">

      <wsdl:part name="echoShortReturn" type="xsd:short"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleArrayResponse">

      <wsdl:part name="echoDoubleArrayReturn" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echoLongResponse">

      <wsdl:part name="echoLongReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="echoShortArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_short"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleRequest">

      <wsdl:part name="val" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="echoByteRequest">

      <wsdl:part name="val" type="xsd:byte"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanArrayResponse">

      <wsdl:part name="echoBooleanArrayReturn" type="impl:ArrayOf_xsd_boolean"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echoIntArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoSOAPStructArrayResponse">

      <wsdl:part name="echoSOAPStructArrayReturn" type="impl:ArrayOfSOAPStruct"/>

   </wsdl:message>

   <wsdl:message name="echoByteResponse">

      <wsdl:part name="echoByteReturn" type="xsd:byte"/>

   </wsdl:message>

   <wsdl:message name="echoSOAPStructArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOfSOAPStruct"/>

   </wsdl:message>

   <wsdl:message name="echoDoubleResponse">

      <wsdl:part name="echoDoubleReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="echoIntArrayResponse">

      <wsdl:part name="echoIntArrayReturn" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanResponse">

      <wsdl:part name="echoBooleanReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="echoFloatArrayResponse">

      <wsdl:part name="echoFloatArrayReturn" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echoShortRequest">

      <wsdl:part name="val" type="xsd:short"/>

   </wsdl:message>

   <wsdl:message name="echoSOAPStructResponse">

      <wsdl:part name="echoSOAPStructReturn" type="impl:SOAPStruct"/>

   </wsdl:message>

   <wsdl:message name="echoIntRequest">

      <wsdl:part name="val" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="echoLongRequest">

      <wsdl:part name="val" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="echoByteArrayRequest">

      <wsdl:part name="val" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanRequest">

      <wsdl:part name="val" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="echoFloatRequest">

      <wsdl:part name="val" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="echoBooleanArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_boolean"/>

   </wsdl:message>

   <wsdl:message name="echoFloatArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echoLongArrayResponse">

      <wsdl:part name="echoLongArrayReturn" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:message name="echoFloatResponse">

      <wsdl:part name="echoFloatReturn" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="echoByteArrayResponse">

      <wsdl:part name="echoByteArrayReturn" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="echoShortArrayResponse">

      <wsdl:part name="echoShortArrayReturn" type="impl:ArrayOf_xsd_short"/>

   </wsdl:message>

   <wsdl:message name="echoIntResponse">

      <wsdl:part name="echoIntReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="echoLongArrayRequest">

      <wsdl:part name="val" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:message name="echoSOAPStructRequest">

      <wsdl:part name="val" type="impl:SOAPStruct"/>

   </wsdl:message>

   <wsdl:portType name="SupportedTypesTest">

      <wsdl:operation name="echoSOAPStruct" parameterOrder="val">

         <wsdl:input message="impl:echoSOAPStructRequest" name="echoSOAPStructRequest"/>

         <wsdl:output message="impl:echoSOAPStructResponse" name="echoSOAPStructResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoSOAPStructArray" parameterOrder="val">

         <wsdl:input message="impl:echoSOAPStructArrayRequest" name="echoSOAPStructArrayRequest"/>

         <wsdl:output message="impl:echoSOAPStructArrayResponse" name="echoSOAPStructArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoInt" parameterOrder="val">

         <wsdl:input message="impl:echoIntRequest" name="echoIntRequest"/>

         <wsdl:output message="impl:echoIntResponse" name="echoIntResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoDouble" parameterOrder="val">

         <wsdl:input message="impl:echoDoubleRequest" name="echoDoubleRequest"/>

         <wsdl:output message="impl:echoDoubleResponse" name="echoDoubleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoLong" parameterOrder="val">

         <wsdl:input message="impl:echoLongRequest" name="echoLongRequest"/>

         <wsdl:output message="impl:echoLongResponse" name="echoLongResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoShort" parameterOrder="val">

         <wsdl:input message="impl:echoShortRequest" name="echoShortRequest"/>

         <wsdl:output message="impl:echoShortResponse" name="echoShortResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoFloat" parameterOrder="val">

         <wsdl:input message="impl:echoFloatRequest" name="echoFloatRequest"/>

         <wsdl:output message="impl:echoFloatResponse" name="echoFloatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoByte" parameterOrder="val">

         <wsdl:input message="impl:echoByteRequest" name="echoByteRequest"/>

         <wsdl:output message="impl:echoByteResponse" name="echoByteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoBoolean" parameterOrder="val">

         <wsdl:input message="impl:echoBooleanRequest" name="echoBooleanRequest"/>

         <wsdl:output message="impl:echoBooleanResponse" name="echoBooleanResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoIntArray" parameterOrder="val">

         <wsdl:input message="impl:echoIntArrayRequest" name="echoIntArrayRequest"/>

         <wsdl:output message="impl:echoIntArrayResponse" name="echoIntArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoDoubleArray" parameterOrder="val">

         <wsdl:input message="impl:echoDoubleArrayRequest" name="echoDoubleArrayRequest"/>

         <wsdl:output message="impl:echoDoubleArrayResponse" name="echoDoubleArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoLongArray" parameterOrder="val">

         <wsdl:input message="impl:echoLongArrayRequest" name="echoLongArrayRequest"/>

         <wsdl:output message="impl:echoLongArrayResponse" name="echoLongArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoShortArray" parameterOrder="val">

         <wsdl:input message="impl:echoShortArrayRequest" name="echoShortArrayRequest"/>

         <wsdl:output message="impl:echoShortArrayResponse" name="echoShortArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoFloatArray" parameterOrder="val">

         <wsdl:input message="impl:echoFloatArrayRequest" name="echoFloatArrayRequest"/>

         <wsdl:output message="impl:echoFloatArrayResponse" name="echoFloatArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoByteArray" parameterOrder="val">

         <wsdl:input message="impl:echoByteArrayRequest" name="echoByteArrayRequest"/>

         <wsdl:output message="impl:echoByteArrayResponse" name="echoByteArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echoBooleanArray" parameterOrder="val">

         <wsdl:input message="impl:echoBooleanArrayRequest" name="echoBooleanArrayRequest"/>

         <wsdl:output message="impl:echoBooleanArrayResponse" name="echoBooleanArrayResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HeavySoapBinding" type="impl:SupportedTypesTest">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoSOAPStruct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoSOAPStructRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoSOAPStructResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoSOAPStructArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoSOAPStructArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoSOAPStructArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoInt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoIntRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoIntResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoDouble">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoDoubleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoDoubleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoLong">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoLongRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoLongResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoShort">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoShortRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoShortResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoFloat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoFloatRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoFloatResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoByte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoByteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoByteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoBoolean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoBooleanRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoBooleanResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoIntArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoIntArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoIntArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoDoubleArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoDoubleArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoDoubleArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoLongArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoLongArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoLongArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoShortArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoShortArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoShortArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoFloatArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoFloatArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoFloatArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoByteArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoByteArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoByteArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echoBooleanArray">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoBooleanArrayRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoBooleanArrayResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://usageTests/types" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SupportedTypesTestService">

      <wsdl:port binding="impl:HeavySoapBinding" name="Heavy">

         <wsdlsoap:address location="http://localhost:8080/axis/services/Heavy"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
