samples/client/doclitfault/MathOps_doclit.wsdl

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://soapinterop.org/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns2="http://localhost/axis/MathOps/types"
    xmlns:ns3="http://localhost/axis/MathOps/types/part"
    targetNamespace="http://soapinterop.org/wsdl">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:tns="http://localhost/axis/MathOps/types"
            targetNamespace="http://localhost/axis/MathOps/types">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="DivByZeroStruct">
                <sequence>
                    <element name="varString" type="xsd:string"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varFloat" type="xsd:float"/>
                </sequence>
            </complexType>
            <element name="intParam1" type="xsd:int"/>
            <element name="intParam2" type="xsd:int"/>
            <element name="intReturn" type="xsd:int"/>
       </schema>
       <schema 
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://localhost/axis/MathOps/types/part"
            targetNamespace="http://localhost/axis/MathOps/types/part">
            <element name="DivByZeroStructPart" type="ns2:DivByZeroFault"/>
        </schema>
                
    </types>
	<message name="DivByZeroFault">
		<part name="faultstruct1" element="ns3:DivByZeroStructPart"/>
	</message>
	<message name="divRequest">
		<part name="int0" element="ns2:intParam1"/>
		<part name="int1" element="ns2:intParam2"/>
	</message>
	<message name="divResponse">
		<part name="addReturn" element="ns2:intReturn"/>
	</message>
	<portType name="MathOps">
		<operation name="div" parameterOrder ="int0 int1">
			<input message="tns:divRequest"/>
			<output message="tns:divResponse"/>
			<fault name="DivByZero" message="tns:DivByZeroFault"/>
		 </operation>
	</portType>
	<binding name="MathOpsBinding" type="tns:MathOps">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="div">
			  <soap:operation soapAction="MathOps#div"/>
                <input name="divRequest">
                    <soap:body
                        use="literal"/>
                </input>
                <output name="divResponse">
                    <soap:body
                        use="literal"/>
                </output>
			<fault name="DivByZero">
				<soap:fault name="DivByZero" use="literal"/>
			</fault>
			</operation>
		</binding>
	<service name="MathOpsDLService">
		<port name="MathOpsPort" binding="tns:MathOpsBinding">
			<soap:address location="http://localhost/axis/MathOpsPort"/>
		</port>
	</service>
</definitions>
