contrib/axismora/samples/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wrappergen.axis2.opensource.lk" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wrappergen.axis2.opensource.lk" xmlns:intf="http://wrappergen.axis2.opensource.lk" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part name="subReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="mulResponse">

      <wsdl:part name="mulReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="mulRequest">

      <wsdl:part name="a" type="xsd:int"/>

      <wsdl:part name="b" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part name="a" type="xsd:int"/>

      <wsdl:part name="b" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="a" type="xsd:int"/>

      <wsdl:part name="b" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="add" parameterOrder="a b">

         <wsdl:input message="intf:addRequest" name="addRequest"/>

         <wsdl:output message="intf:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sub" parameterOrder="a b">

         <wsdl:input message="intf:subRequest" name="subRequest"/>

         <wsdl:output message="intf:subResponse" name="subResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mul" parameterOrder="a b">

         <wsdl:input message="intf:mulRequest" name="mulRequest"/>

         <wsdl:output message="intf:mulResponse" name="mulResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="servicesClientSoapBinding" type="intf:Calculator">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mul">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mulRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="mulResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wrappergen.axis2.opensource.lk" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="intf:servicesClientSoapBinding" name="servicesClient">

         <wsdlsoap:address location="http://localhost:8080/axis/servicesClient"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
