tests/auto_build/testcases/wsdls/Arrays.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.apache.axis/Arrays/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Arrays"
	targetNamespace="http://org.apache.axis/Arrays/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://org.apache.axis/Arrays/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="simpleArrayResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simpleType" type="xsd:int"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simpleArrayRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simpleType" type="xsd:int"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ComplexTypeWithSimpleArray">
				<xsd:sequence>
					<xsd:element name="simpleType" type="xsd:int" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComplexTypeWithSimpleElement">
				<xsd:sequence>
					<xsd:element name="simpleType" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

            <xsd:element name="complexTypeWithSimpleArrayResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ComplexTypeWithSimpleArray"
							type="tns:ComplexTypeWithSimpleArray">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
            <xsd:element name="complexTypeWithSimpleArrayRequest">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="complexTypeWithSimpleArray"
            				type="tns:ComplexTypeWithSimpleArray">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="complexTypeArrayResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="complexTypeWithSimpleElement"
            				type="tns:ComplexTypeWithSimpleElement" maxOccurs="unbounded">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="complexTypeArrayRequest">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="complexTypeWithSimpleElement"
            				type="tns:ComplexTypeWithSimpleElement" maxOccurs="unbounded">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="simpleArrayResponse">
		<wsdl:part element="tns:simpleArrayResponse"
			name="simpleArrayResponse" />
	</wsdl:message>
	<wsdl:message name="simpleArrayRequest">
		<wsdl:part element="tns:simpleArrayRequest"
			name="simpleArrayRequest" />
	</wsdl:message>
	<wsdl:message name="complexTypeWithSimpleArrayResponse">
		<wsdl:part name="complexTypeWithSimpleArrayResponse"
			element="tns:complexTypeWithSimpleArrayResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="complexTypeWithSimpleArrayRequest">
		<wsdl:part name="complexTypeWithSimpleArrayRequest"
			element="tns:complexTypeWithSimpleArrayRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="complexTypeArrayResponse">
		<wsdl:part name="complexTypeArrayResponse"
			element="tns:complexTypeArrayResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="complexTypeArrayRequest">
		<wsdl:part name="complexTypeArrayRequest"
			element="tns:complexTypeArrayRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Arrays">
		<wsdl:operation name="simpleArray">
			<wsdl:input message="tns:simpleArrayRequest" />
			<wsdl:output message="tns:simpleArrayResponse" />
		</wsdl:operation>
		<wsdl:operation name="complexTypeWithSimpleArray">
			<wsdl:input
				message="tns:complexTypeWithSimpleArrayRequest">
			</wsdl:input>
			<wsdl:output
				message="tns:complexTypeWithSimpleArrayResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="complexTypeArray">
			<wsdl:input message="tns:complexTypeArrayRequest"></wsdl:input>
			<wsdl:output message="tns:complexTypeArrayResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArraysSOAP" type="tns:Arrays">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simpleArray">
			<soap:operation
				soapAction="http://org.apache.axis/Arrays/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="complexTypeWithSimpleArray">
			<wsdl:input></wsdl:input>
			<wsdl:output></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="complexTypeArray">
			<wsdl:input></wsdl:input>
			<wsdl:output></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Arrays">
		<wsdl:port binding="tns:ArraysSOAP" name="ArraysSOAP">
			<soap:address location="http://localhost:80/axis/Arrays" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
