tests/auto_build/testcases/wsdls/ComplexTypeWithNillableSimpleElement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2003-2004 The Apache Software Foundation.                      -->
<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved                   -->
<!--                                                                          -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
<!-- you may not use this file except in compliance with the License.         -->
<!-- You may obtain a copy of the License at                                  -->
<!--                                                                          -->
<!--        http://www.apache.org/licenses/LICENSE-2.0                        -->
<!--                                                                          -->
<!-- Unless required by applicable law or agreed to in writing, software      -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and      -->
<!-- limitations under the License.                                           -->

<wsdl:definitions targetNamespace="http://localhost/axis/Calculator"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://localhost/axis/Calculator"
	xmlns:intf="http://localhost/axis/Calculator"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="">
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://localhost/axis/Calculator"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:apachesoap="http://xml.apache.org/xml-soap"
			xmlns:impl="http://localhost/axis/Calculator"
			xmlns:intf="http://localhost/axis/Calculator"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:complexType name="SimpleComplexType">
				<xsd:sequence>
					<xsd:element name="complexTypeElement"
						type="xsd:int" minOccurs="1" maxOccurs="1" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<element name="echo">
				<complexType>
					<sequence>
						<element name="simpleComplexType" type="impl:SimpleComplexType" />
					</sequence>
				</complexType>
			</element>
			<element name="echoResponse">
				<complexType>
					<sequence>
						<element name="simpleComplexType" type="impl:SimpleComplexType" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="echoResponse">

		<wsdl:part element="impl:echoResponse" name="parameters" />

	</wsdl:message>

	<wsdl:message name="echoRequest">

		<wsdl:part element="impl:echo" name="parameters" />

	</wsdl:message>

	<wsdl:portType name="ComplexTypeWithNillableSimpleElement">

		<wsdl:operation name="echo">

			<wsdl:input message="impl:echoRequest" name="addRequest" />

			<wsdl:output message="impl:echoResponse" name="addResponse" />

		</wsdl:operation>




	</wsdl:portType>

	<wsdl:binding name="ComplexTypeWithNillableSimpleElementSoapBinding"
		type="impl:ComplexTypeWithNillableSimpleElement">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="echo">

			<wsdlsoap:operation soapAction="ComplexTypeWithNillableSimpleElement#echo" />

			<wsdl:input name="addRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="addResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="ComplexTypeWithNillableSimpleElement">

		<wsdl:port
			binding="impl:ComplexTypeWithNillableSimpleElementSoapBinding"
			name="ComplexTypeWithNillableSimpleElement">

			<wsdlsoap:address
				location="http://localhost/axis/ComplexTypeWithNillableSimpleElement" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
