tests/auto_build/testcases/wsdls/ComplexTypeAllComplexChild.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://xsd_byte.test.apache.org"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XSD_byte"
	targetNamespace="http://xsd_byte.test.apache.org">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://xsd_byte.test.apache.org"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:complexType name="oneSimpleComplexType">
				<xsd:sequence>
					<xsd:element name="onecomplexTypeElement"
						type="xsd:byte" minOccurs="1" maxOccurs="1" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SimpleComplexType">
				<xsd:all>
					<xsd:element name="complexTypeElement" type="tns:oneSimpleComplexType" />
					<xsd:element name="field2" type="xsd:string" nillable="false" />
					<xsd:element name="field3" type="xsd:int" nillable="false" />
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="asComplexTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimpleComplexType" type="tns:SimpleComplexType" nillable="false" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="asComplexType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimpleComplexType" type="tns:SimpleComplexType" nillable="false" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="asComplexTypeResponse">
		<wsdl:part name="asComplexTypeResponse"
			element="tns:asComplexTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="asComplexTypeRequest">
		<wsdl:part name="asComplexTypeRequest"
			element="tns:asComplexType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="XSD_byte">
		<wsdl:operation name="asComplexType">
			<wsdl:input message="tns:asComplexTypeRequest"></wsdl:input>
			<wsdl:output message="tns:asComplexTypeResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ComplexAllComplexChildSOAP" type="tns:XSD_byte">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		
		<wsdl:operation name="asComplexType">
			<soap:operation soapAction="XSD_byte#asComplexType"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XSD_byte">
		<wsdl:port binding="tns:ComplexAllComplexChildSOAP"
			name="Service">
			<soap:address
				location="http://localhost:9080/ComplexTypeAllComplexChild/services/Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
