tests/auto_build/testcases/wsdls/ComplexTypeAll.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
             targetNamespace="http://complextype.test.apache.org"
             xmlns:tns="http://complextype.test.apache.org"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema elementFormDefault="qualified" 
		            targetNamespace="http://complextype.test.apache.org"
		            xmlns:tns="http://complextype.test.apache.org">
			<xsd:element name="myOperation">
  				<xsd:complexType>
					<xsd:sequence>
				    	<xsd:element name="aType" type="tns:aRecord"/>
				    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="aRecord">
				<xsd:all>
					<xsd:element name="field1" type="xsd:string" nillable="true"/>
					<xsd:element name="field2" type="xsd:string" fixed="field2Value"/>
					<xsd:element name="field3" type="xsd:string" nillable="false"/>
				</xsd:all>
			</xsd:complexType>
			
			<xsd:element name="myOperationResponse">
			  <xsd:complexType>
			    <xsd:sequence>
			      <xsd:element name="result" type="xsd:boolean"/>
			    </xsd:sequence>
			  </xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="request">
		<part name="parameters" element="tns:myOperation"/>
	</message>
	<message name="response">
		<part name="parameters" element="tns:myOperationResponse"/>
	</message>
	<portType name="operations">
		<operation name="myOperation">
			<input message="tns:request"/>
			<output message="tns:response"/>
		</operation>
	</portType>
	<binding name="operationsBinding" type="tns:operations">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="myOperation">
			<soap:operation soapAction="http://complextype.test.apache.org"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="TestServices">
		<port name="Service" binding="tns:operationsBinding">
			<soap:address location="http://localhost:9080/ComplexTypeAll/services/Service"/>
		</port>
	</service>
</definitions>
