tests/auto_build/testcases/wsdls/InOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://complexissues.test.apache.org" xmlns:impl="http://complexissues.test.apache.org" xmlns:intf="http://complexissues.test.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://complexissues.test.apache.org" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://complexissues.test.apache.org" xmlns:intf="http://complexissues.test.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="noParametersNoReturn">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="noParametersNoReturnResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="noParametersIntReturn">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="noParametersIntReturnResponse">
    <complexType>
     <sequence>
      <element name="noParametersIntReturnReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiParametersNoReturn">
    <complexType>
     <sequence>
      <element name="arg_0_2" nillable="true" type="xsd:string"/>
      <element name="arg_1_2" type="xsd:int"/>
      <element name="arg_2_2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiParametersNoReturnResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="noParametersMultiReturn">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="noParametersMultiReturnResponse">
    <complexType>
     <sequence>
      <element name="returnDouble" type="xsd:double"/>
      <element name="returnInt" type="xsd:int"/>
      <element name="returnString" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiArrayParametersIntReturn">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="arg_0_4" type="xsd:int"/>
      <element maxOccurs="unbounded" minOccurs="0" name="arg_1_4" type="xsd:double"/>
      <element maxOccurs="unbounded" minOccurs="0" name="arg_2_4" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiArrayParametersIntReturnResponse">
    <complexType>
     <sequence>
      <element name="multiArrayParametersIntReturnReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="noParametersIntReturnResponse">
      <wsdl:part element="impl:noParametersIntReturnResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="noParametersNoReturnRequest">
      <wsdl:part element="impl:noParametersNoReturn" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="multiArrayParametersIntReturnRequest">
      <wsdl:part element="impl:multiArrayParametersIntReturn" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="noParametersNoReturnResponse">
      <wsdl:part element="impl:noParametersNoReturnResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="noParametersMultiReturnRequest">
      <wsdl:part element="impl:noParametersMultiReturn" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="multiParametersNoReturnRequest">
      <wsdl:part element="impl:multiParametersNoReturn" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="noParametersIntReturnRequest">
      <wsdl:part element="impl:noParametersIntReturn" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="multiArrayParametersIntReturnResponse">
      <wsdl:part element="impl:multiArrayParametersIntReturnResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="noParametersMultiReturnResponse">
      <wsdl:part element="impl:noParametersMultiReturnResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="multiParametersNoReturnResponse">
      <wsdl:part element="impl:multiParametersNoReturnResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:portType name="InOut">

      <wsdl:operation name="noParametersNoReturn">
         <wsdl:input message="impl:noParametersNoReturnRequest" name="noParametersNoReturnRequest"/>
         <wsdl:output message="impl:noParametersNoReturnResponse" name="noParametersNoReturnResponse"/>
      </wsdl:operation>

      <wsdl:operation name="noParametersIntReturn">
         <wsdl:input message="impl:noParametersIntReturnRequest" name="noParametersIntReturnRequest"/>
         <wsdl:output message="impl:noParametersIntReturnResponse" name="noParametersIntReturnResponse"/>
      </wsdl:operation>

      <wsdl:operation name="multiParametersNoReturn">
         <wsdl:input message="impl:multiParametersNoReturnRequest" name="multiParametersNoReturnRequest"/>
         <wsdl:output message="impl:multiParametersNoReturnResponse" name="multiParametersNoReturnResponse"/>
      </wsdl:operation>

      <wsdl:operation name="noParametersMultiReturn">
         <wsdl:input message="impl:noParametersMultiReturnRequest" name="noParametersMultiReturnRequest"/>
         <wsdl:output message="impl:noParametersMultiReturnResponse" name="noParametersMultiReturnResponse"/>
      </wsdl:operation>

      <wsdl:operation name="multiArrayParametersIntReturn">
         <wsdl:input message="impl:multiArrayParametersIntReturnRequest" name="multiArrayParametersIntReturnRequest"/>
         <wsdl:output message="impl:multiArrayParametersIntReturnResponse" name="multiArrayParametersIntReturnResponse"/>
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InOutSoapBinding" type="impl:InOut">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="noParametersNoReturn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="noParametersNoReturnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="noParametersNoReturnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="noParametersIntReturn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="noParametersIntReturnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="noParametersIntReturnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiParametersNoReturn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiParametersNoReturnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiParametersNoReturnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="noParametersMultiReturn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="noParametersMultiReturnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="noParametersMultiReturnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiArrayParametersIntReturn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiArrayParametersIntReturnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiArrayParametersIntReturnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InOutService">

      <wsdl:port binding="impl:InOutSoapBinding" name="InOut">

         <wsdlsoap:address location="http://lion:9080/InOut/services/InOut"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
