tests/auto_build/testcases/wsdls/OneWayOperationUnwrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2003-2004 The Apache Software Foundation.                      -->
<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved                   -->
<!--                                                                          -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
<!-- you may not use this file except in compliance with the License.         -->
<!-- You may obtain a copy of the License at                                  -->
<!--                                                                          -->
<!--        http://www.apache.org/licenses/LICENSE-2.0                        -->
<!--                                                                          -->
<!-- Unless required by applicable law or agreed to in writing, software      -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and      -->
<!-- limitations under the License.                                           -->

<definitions targetNamespace="OneWayOperationTest"
                       xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns99="OneWayOperation"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                   xmlns:tns="OneWayOperationTest"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XMLSchema">

 <types>
  <xsd:schema   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  	<xsd:import namespace="OneWayOperation"
  	       schemaLocation="OneWayOperation.xsd"/>

   <xsd:element name="aBeanPortTypeComplexInput">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Element" nillable="true" type="ns99:SampleBeanComplex"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="aBeanPortTypeBaseInput">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Element" nillable="true" type="ns99:SampleBeanBoolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>

 <message name="aBeanMessageComplex">
 	<part name="aBeanMesage" element="tns:aBeanPortTypeComplexInput"></part>
 </message>

 <message name="aBeanMessageBase">
 	<part name="aBeanMesage" element="tns:aBeanPortTypeBaseInput"></part>
 </message>

 <portType name="TestServicePortType">
  <operation name="aBeanPortTypeComplex">
   <input message="tns:aBeanMessageComplex"/>
  </operation>

  <operation name="aBeanPortTypeBase">
   <input message="tns:aBeanMessageBase"/>
  </operation>
 </portType>

 <binding name="ServiceBinding" type="tns:TestServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="aBeanPortTypeComplex">
   <soap:operation soapAction="" style="document"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>

  <operation name="aBeanPortTypeBase">
   <soap:operation soapAction="" style="document"/>
   <input>
    <soap:body use="literal"/>
   </input>
  </operation>
 </binding>

  <service name="SimpleService">
    <port binding="tns:ServiceBinding" name="ServiceBinding">
      <soap:address location="http://tempuri.org" /> 
    </port>
  </service>
</definitions>