tests/auto_build/testcases/wsdls/ValidXMLCharIsInterpretedAsCPPCommand.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2003-2004 The Apache Software Foundation.                      -->
<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved                   -->
<!--                                                                          -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
<!-- you may not use this file except in compliance with the License.         -->
<!-- You may obtain a copy of the License at                                  -->
<!--                                                                          -->
<!--        http://www.apache.org/licenses/LICENSE-2.0                        -->
<!--                                                                          -->
<!-- Unless required by applicable law or agreed to in writing, software      -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and      -->
<!-- limitations under the License.                                           -->

<wsdl:definitions targetNamespace="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                 xmlns:apachesoap="http://xml.apache.org/xml-soap"
                       xmlns:impl="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                       xmlns:intf="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                       xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                       xmlns:ns99="ValidXMLCharIsInterpretedAsCPPCommandTypes">
 <wsdl:types>
  <schema elementFormDefault="qualified"
             targetNamespace="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                       xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                  xmlns:intf="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <import namespace="ValidXMLCharIsInterpretedAsCPPCommandTypes"
  	  schemaLocation="ValidXMLCharIsInterpretedAsCPPCommand.xsd"/>

   <xsd:element name="test1">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Element" nillable="true" type="ns99:test1Punctuation"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <element name="test1Response">
    <complexType>
     <sequence>
      <element name="return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   
   
   <xsd:element name="Test1WithComplexResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Element" nillable="true" type="ns99:test1Punctuation"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   
  </schema>
 </wsdl:types>

   <wsdl:message name="test1Response">
      <wsdl:part element="impl:test1Response" name="parameters"/>
   </wsdl:message>


   <wsdl:message name="test1Request">
      <wsdl:part element="impl:test1" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="test2Request">
      <wsdl:part element="impl:Test1WithComplexResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:portType name="ValidXMLCharIsInterpretedAsCPPCommand">
      <wsdl:operation name="test1">
         <wsdl:input message="impl:test1Request" name="test1Request"/>
         <wsdl:output message="impl:test1Response" name="test1Response"/>
      </wsdl:operation>

       <wsdl:operation name="Test1WithComplexResponse">
         <wsdl:input message="impl:test2Request" name="test2Request"/>
         <wsdl:output message="impl:test2Request" name="test2Request"/>
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ValidXMLCharIsInterpretedAsCPPCommandSoapBinding" type="impl:ValidXMLCharIsInterpretedAsCPPCommand">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="test1">
         <wsdlsoap:operation soapAction="ValidXMLCharIsInterpretedAsCPPCommand#test1"/>
         <wsdl:input name="test1Request">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="test1Response">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="Test1WithComplexResponse">
         <wsdlsoap:operation soapAction="ValidXMLCharIsInterpretedAsCPPCommand#Test1WithComplexResponse"/>
         <wsdl:input name="test2Request">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="test2Request">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ValidXMLCharIsInterpretedAsCPPCommand">
      <wsdl:port binding="impl:ValidXMLCharIsInterpretedAsCPPCommandSoapBinding" name="ValidXMLCharIsInterpretedAsCPPCommand">
         <wsdlsoap:address location="http://localhost/axis/ValidXMLCharIsInterpretedAsCPPCommand"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
