tests/auto_build/testcases/wsdls/XSDAny.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://any.webservices.ibm.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://any.webservices.ibm.com" xmlns:intf="http://any.webservices.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://any.webservices.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrder">
    <complexType>
     <sequence>
      <element name="searchCriteria" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Order">
    <sequence>
     <element name="createDate" nillable="true" type="xsd:dateTime"/>
     <element name="customer" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" name="lineItems" nillable="true" type="impl:LineItem"/>
    </sequence>
   </complexType>
   <complexType name="LineItem">
    <sequence>
     <element name="itemDesc" nillable="true" type="xsd:string"/>
     <element name="itemNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getOrderResponse">
    <complexType>
     <sequence>
      <element name="getOrderReturn" nillable="true" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrderResponse">

      <wsdl:part element="intf:getOrderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrderRequest">

      <wsdl:part element="intf:getOrder" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="OrderManager">

      <wsdl:operation name="getOrder">

         <wsdl:input message="intf:getOrderRequest" name="getOrderRequest"/>

         <wsdl:output message="intf:getOrderResponse" name="getOrderResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderManagerSoapBinding" type="intf:OrderManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderManagerService">

      <wsdl:port binding="intf:OrderManagerSoapBinding" name="OrderManager">

         <wsdlsoap:address location="http://localhost:9080/AnyExample/services/OrderManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
