samples/server/doclitfault/MathOps_doclit.wsdl

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://soapinterop.org/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns2="http://localhost/axis/MathOps/types"
    xmlns:ns3="http://localhost/axis/MathOps/types/part"
    targetNamespace="http://soapinterop.org/wsdl">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            targetNamespace="http://localhost/axis/MathOps/types">
            <complexType name="DivByZeroStruct">
                <sequence>
                    <element name="varString" type="xsd:string"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varFloat" type="xsd:float"/>
                </sequence>
            </complexType>
            <element name="divRequest">
	    	<complexType>
		    <sequence>
			<element name="intParam1" type="xsd:int"/>
			<element name="intParam2" type="xsd:int"/>	
		    </sequence>	    
		</complexType>
	    </element>
            <element name="divResponse">
	    	<complexType>
			<sequence>
	     			<element name="return" type="xsd:int"/>
			</sequence>
		</complexType>
	    </element> 
       </schema>
       <schema 
            xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://localhost/axis/MathOps/types/part">
            <element name="DivByZeroStructPart" type="ns2:DivByZeroStruct"/>
        </schema>
                
    </types>
	<message name="DivByZeroFault">
		<part name="faultstruct1" element="ns3:DivByZeroStructPart"/>
	</message>
	<message name="divRequest">
		<part name="parameters" element="ns2:divRequest"/>
	</message>
	<message name="divResponse">
		<part name="parameters" element="ns2:divResponse"/>
	</message>
	<portType name="MathOps">
		<operation name="div">
			<input message="tns:divRequest"/>
			<output message="tns:divResponse"/>
			<fault name="DivByZero" message="tns:DivByZeroFault"/>
		 </operation>
	</portType>
	<binding name="MathOpsBinding" type="tns:MathOps">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="div">
			  <soap:operation soapAction="MathOps#div"/>
                <input name="divRequest">
                    <soap:body
                        use="literal"/>
                </input>
                <output name="divResponse">
                    <soap:body
                        use="literal"/>
                </output>
			<fault name="DivByZero">
				<soap:fault name="DivByZero" use="literal"/>
			</fault>
			</operation>
		</binding>
	<service name="MathOpsDLService">
		<port name="MathOpsPort" binding="tns:MathOpsBinding">
			<soap:address location="http://localhost/axis/MathOpsPort"/>
		</port>
	</service>
</definitions>

